---
import Layout from "../layouts/main.astro";
---

<Layout>
	<main class="mx-auto max-w-screen-md px-4 py-16">
		<h1 class="font-primary-semibold text-3xl md:text-4xl">Cookie Policy</h1>
		<p class="mt-4 text-base">Coming soon.</p>
	</main>
</Layout>


