---
import Layout from "../layouts/main.astro";
import Hero from "../components/Hero.astro";
import SignupForm from "../components/SignupForm.astro";
import StorySection from "../components/StorySection.astro";
import ExperiencesSection from "../components/ExperiencesSection.astro";
import BreakSection from "../components/BreakSection.astro";
---

<Layout>
	<main>
		<Hero />
		<StorySection />
		<BreakSection />
    	<ExperiencesSection />
		<SignupForm />
	</main>
</Layout>
