---
import Layout from '../layouts/main.astro';
import HeroSection from '../components/HeroSection.astro';
import AboutSection from '../components/AboutSection.astro';
import ServicesShowcase from '../components/ServicesShowcase.astro';
import MailingListSignup from '../components/MailingListSignup.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<main>
		<HeroSection />
		<AboutSection />
		<ServicesShowcase />
		<MailingListSignup />
		<Footer />
	</main>
</Layout>
