---
import Layout from "../layouts/main.astro";
import Hero from "../components/Hero.astro";
import SignupForm from "../components/SignupForm.astro";
import StorySection from "../components/StorySection.astro";
---

<Layout>
	<main>
		<Hero />
		<!-- Decorative divider between hero and story -->
		<div aria-hidden="true" class="bg-repeating-logo bg-center h-16 w-full" />
		<StorySection />
		<div aria-hidden="true" class="bg-repeating-logo bg-center h-16 w-full" />
		<SignupForm />
	</main>
</Layout>
