---
interface Props {
  class?: string;
  action?: string;
  method?: "GET" | "POST";
}

const { 
  class: className = "", 
  action = "#", 
  method = "POST" 
} = Astro.props;
---

<form 
  action={action} 
  method={method}
  class={`form-control space-y-4 ${className}`}
  role="form"
>
  <slot />
</form> 